@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;
@{
    string sessionName = accessor.HttpContext.Session.GetString("AdminSession");
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, Initial-scale = 1.0,maximum-scale = 1.0" />
    <title>@ViewData["Title"]-Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/fontawesome-free-6.1.2-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/undraw_breakfast_psiw.png" type="image">
    <link rel="stylesheet" href="~/OnlineFastFoodDelivery.styles.css" asp-append-version="true" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/chart.js"></script>
</head>
<body id="Body">
    
    @*<header class="topBar">
        
    </header>*@
  <div class="wrapper">
        <div class="sideBar" id="mySidebar">
            
            <div class="profile">
                @if (@accessor.HttpContext.Session.GetString("AdminImage") != null)
                {
                    <img src="data:image/jpg;base64,@Convert.ToBase64String(accessor.HttpContext.Session.Get("AdminImage"))" alt="profile_picture">
                }
                
                <h3 class="profileName">@accessor.HttpContext.Session.GetString("AdminSession")</h3>
                <p class="profileDesc">@accessor.HttpContext.Session.GetString("AdminRole")</p>
            </div>
            <ul class="sidebarList">
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="Food"><i class="fa-solid fa-bowl-food"></i>Add Food</a>
                </li>
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="Role"> <i class="fa-solid fa-person-military-rifle"></i>Add Role</a>
                </li>
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="Category"><i class="fa-solid fa-folder-plus"></i>Add Category</a>
                </li>
                 
                  <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="FoodType"><i class="fa-solid fa-utensils"></i>Add Food Type</a>
                </li>
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="SubCategory"><i class="fa-solid fa-puzzle-piece"></i>Add Sub-Category</a>
                </li>
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="Index" asp-controller="Moderator"><i class="fa-solid fa-user-plus"></i>Add Moderators</a>
                </li>   
                <li class="sidebarItem">
                    <a><i class="fas fa-shipping-fast"></i>Order Status</a>
                </li>
                <li class="sidebarItem">
                    <a style="text-decoration:none;color:black" asp-action="LogOut" asp-controller="Admin"><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>Log Out</a>
                </li>
                 
               

        </ul>
        
    </div>
        <div class="adminBody" id="adminMain">
            <nav class="navbar navbar-expand-lg navbar-dark" style="box-shadow: 0 3px 15px white;">
                <div class="container-fluid">
                    <button class="btn btn-sm btn-light mx-2" id="btnSide" title="Admin Dashboard"><i class="fa-solid fa-house"></i></button>
                    <a class="navbar-brand mx-2" asp-area="Go To Dashboard" asp-controller="Admin" asp-action="Dashboard" style="font-family: 'Permanent Marker', cursive;font-size:25px">Admin Dashboard</a>
                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">

                        <ul class="navbar-nav mb-2 mb-lg-0 me-auto ms-auto">
                        </ul>
                        <ul class="navbar-nav" style="margin-right:40px;">
                            <li class="nav-item">
                                @if (sessionName != null)
                                {
                                    <label class="nav-link" style="font-family: 'Permanent Marker', cursive;font-size:18px">Hello @sessionName</label>
                                }
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link mx-4 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-black" asp-controller="Admin" asp-area="LogOut" asp-action="Logout">Logout</a></li>
                                    <li><a class="dropdown-item text-black" href="#">Your Profile</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                @RenderBody()
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do You Really Want To Delete This ?
                                <input id="itemID" type="hidden" name="itemID" />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-sm btn-danger my-3" title="Delete" onclick="deleteItem()"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        
            var btn=document.getElementById("btnSide").addEventListener("click",open_closeNav);
            var isMenuopen=1;
        function open_closeNav() {
            if(isMenuopen==0){
                isMenuopen=1;
                document.getElementById("mySidebar").style.left = "0px";
                document.getElementById("adminMain").style.marginLeft = "300px";
            }else{
                isMenuopen = 0;
                document.getElementById("mySidebar").style.left= "-300px";
                document.getElementById("adminMain").style.marginLeft = "0px";
            }
        }
    </script>
    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Successfull!", '@TempData["Success"]', "success");
            };
        </script>

    }
    else if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Failed ! Please try Again", '@TempData["Error"]', "error");
            };
        </script>

    }
</body>
</html>
