@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;
@*@{
    string sessionName = accessor.HttpContext.Session.GetString("AdminSession").ToString();
}*@
@{
    string sessionName = accessor.HttpContext.Session.GetString("UserName");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, Initial-scale = 1.0,maximum-scale = 1.0" />
    <title>@ViewData["Title"]-AxA Food</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/fontawesome-free-6.1.2-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/undraw_breakfast_psiw.png" type="image">
    <link rel="stylesheet" href="~/OnlineFastFoodDelivery.styles.css" asp-append-version="true" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body id="UserBody">
    <style>
        /* Style for the selected suggestion */
        .ui-autocomplete .ui-state-active {
            background-color: #121212;
            border: hidden;
            color: #fff;
            border-color: #121212;
        }
    </style>
    <div id="body">

    
    <header>
        <!-- Animated navbar-->

            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                    <a class="navbar-brand" role="button" asp-area="Go To Home" asp-controller="Home" asp-action="Index" style="font-family: 'Permanent Marker', cursive;font-size:25px;">Flavours of Ayodhya</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    <ul class="navbar-nav mb-2 mb-lg-0 me-auto ms-auto">
                        <li class="nav-item">
                                <a class="nav-link" style="font-weight:700;" aria-current="page" asp-area="Go To Home" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-bold" style="font-weight:700;" asp-area="Go To Foods" asp-controller="Home" asp-action="Foods">Foods</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-bold" target="_blank" role="button" style="font-weight:700;" href="/images/menu.png">Menu</a>
                            </li>
                       @*  <li class="nav-item">
                            <a class="nav-link " aria-current="page" asp-area="Go To Home" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" asp-area="Go To Home" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                       @*  <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#"  data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-black" href="#">Action</a></li>
                                <li><a class="dropdown-item text-black" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-black" href="#">Something else here</a></li>
                            </ul>
                        </li> *@
                        @* <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                        </li>*@
                    </ul>
                    <ul class="navbar-nav" style="margin-right:40px;">
                        <li class="nav-item">
                            @if (sessionName != null)
                            {
                                <label class="nav-link">Hello @sessionName</label>
                            }
                            else
                            {
                                <a class="nav-link " asp-area="SignIn" asp-controller="User" title="SignIn" asp-action="UserLogin"><i class="fa-solid fa-right-to-bracket"></i></a>
                            }

                        </li>
                        @if (sessionName != null)
                                {
                        <li class="nav-item dropdown">
                            <a class="nav-link  " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                
                                    <li><a class="dropdown-item text-black" asp-area="LogOut" asp-controller="Home" asp-action="Logout">Logout</a></li>
                                        <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="UserProfile" asp-route-id="@accessor.HttpContext.Session.GetInt32("UserID")">Your Profile</a></li>
                               
                            </ul>
                        </li>
                        }
                        <li class="nav-item">
                                <a class="nav-link btn position-relative" asp-action="Index" asp-controller="Cart" asp-area="Go to Cart" title="Cart">
                                    <i class="fa-solid fa-cart-shopping"></i> 
                                    @if (accessor.HttpContext.Session.GetInt32("CartNumber") != null)
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                            <span id="lblCartNumber">@accessor.HttpContext.Session.GetInt32("CartNumber")</span>
                                            <span class="visually-hidden">Cart items</span>
                                        </span>
                                    }
                                  
                                </a>
                        </li>

                    </ul>
                    @*<form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>*@
                </div>
            </div>
        </nav>
        <!-- Animated navbar -->

    </header>
   
    <div>
            @*<partial name="_Loader" />*@
        <main role="main" id="main" class="pb-1">
            @RenderBody()

        </main>
    </div>


    <div class="container-fluid mt-0">
        @*style="background-color:#712E1E ">*@
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top text-black">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                </a>
                    <span class="mb-3 mb-md-0 text-white">&copy; 2024 Flavours of Ayodhya, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </footer>
      
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js"></script>
   
    <script>
        $(document).ready(function () {
            // Transition effect for navbar
            $(window).scroll(function () {
                // checks if window is scrolled more than 500px, adds/removes solid class
                if ($(this).scrollTop() > 200) {
                    $('.navbar').removeClass('navbar-dark');
                    $('.navbar').addClass('navbar-solid  navbar-light');
                } else {
                    $('.navbar').removeClass('navbar-solid  navbar-light');
                    $('.navbar').addClass('navbar-dark');
                }
            });
        });
    </script>
        
        
    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Successfull!", '@TempData["Success"]', "success");
            };
        </script>

    }
    else if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Failed ! Please try Again", '@TempData["Error"]', "error");
            };
        </script>

    }
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
