@model Models.ViewModel.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>   

    <!--Banner-->
    <div class="bannerDiv" id="Banner">
        <div class="mask">
            <div>
                <span class="bannerImgText">
                    Flavours of Ayodhya <br />
                    The Best Food Restaurant In Ayodhya
                </span>
                <div class="row" id="_searchFood">
                    <h2 class="text-white text-center" style="font-family: 'Permanent Marker', cursive;">
                        Search For the Food
                    </h2>
                    <div class="col-md-10 col-sm-10 col-10">
                        <input type="search" class="form-control" id="tags" style="border-radius:2rem" />
                    </div>
                    <div class="col-md-2 col-sm-1 col-1">
                        <a role="button" class="btn  btn-outline-light btn-sm" onclick="goToFoodDetails()">Search</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Why Choose Us-->
    <div class="DescriptionContainer col-12 my-3">
        <div class="row my-3 mx-2 ">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">Why Choose Us?</h3>
            <p class="text-center text-white" style="font-size:15px">You should Choose us because </p>
            <div class="col-12 my-2">
                <div class="row g-0 justify-content-center align-items-center">
                    <div class=" col-md-3 my-1 mx-2 d-flex align-items-stretch" style="background:none">
                        <div class=" col-12 d-flex flex-column">
                            <center><img src="~/Images/kindpng_3260136.png" class="d-flex" style="border-radius:50%;height:200px;widht:250px" /></center>
                            <div class="col-12 mb-0 mt-auto">
                            <h5 class="row-header mt-1" style="font-size:20px">Fast Delivery</h5>
                            <p class="text-center text-white" style="text-align:justify">
                                Indulge in the joy of instant gratification with AxA Foods. Our commitment to quick and efficient service ensures that your favorite dishes are just moments away from your doorstep.
                            </p>
                            </div>
                       </div>
                   </div>
                    <div class=" col-md-3 my-1 mx-2 d-flex align-items-stretch" style="background:none">
                        <div class=" col-12 d-flex flex-column">
                            <center><img src="~/Images/kindpng_1519867.png" class="d-flex" style="border-radius:50%;height:200px;widht:250px" /></center>
                            <div class="col-12 mb-0 mt-auto">
                                <h5 class="row-header mt-1" style="font-size:20px">Best Foods</h5>
                                <p class="text-center text-white " style="text-align:justify">
                                    At Flavours Of Ayodhya, we take pride in delivering an unrivaled culinary experience by consistently providing the best food. Our commitment to excellence starts with sourcing premium ingredients to craft each dish with care and precision.
                                </p>
                            </div>
                           
                       </div>
                   </div>
                    <div class=" col-md-3 my-1 mx-2 d-flex align-items-stretch" style="background:none">
                        <div class=" col-12 d-flex flex-column">
                            <center><img src="~/Images/kindpng_2679606.png" class="d-flex" style="border-radius:50%;height:200px;widht:250px" /></center>
                            <div class="col-12 mb-0 mt-auto">
                            <h5 class="row-header mt-1" style="font-size:20px">Party Foods</h5>
                            <p class="text-center text-white " style="text-align:justify">
                                Elevate your celebrations with us – your premier destination for the best party foods. From delectable appetizers to crowd-pleasing mains and irresistible desserts, our curated party menu is designed to turn every occasion into a culinary extravaganza.
                            </p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            
        </div>
        </div>
    <!--Category Row-->
    <div class="col-12 mt-3 " style="margin-top:30px" id="CardRow">
        <div class="row my-2 mx-2 justify-content-center align-content-center">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">
                Categories
            </h3>
            <p class="text-center text-white" style="font-size:15px">Categories Provided By Us</p>
            @{
                foreach(var category in Model.TopCategories)
                {

                                                <div class="TopFoodContainer">
                                                    @* <div class="card-body">*@
                                                    <a target="_blank" role="button" asp-asp-controller="Home" asp-action="Foods" asp-route-CatID="@category.CatId">
                                                        <img src="data:image/png;base64,@Convert.ToBase64String(category.IconImage)" class="img-fluid TopFoodImg" />

                                                        <div class="txtArea">
                                                            <div class="TopFoodtxt">
                                                                <h3 class="text-center" style="font-family: 'Permanent Marker', cursive;">
                                                                    @category.CatName</h3>
                                                        <p>
                                                           @category.CatDesc
                                                        </p>
                                                    </div>
                                                    </div>
                                                    </a>
                                                </div>
                  }
                
            }
        </div>
    </div>
    <!--Explore Our Menu-->
    <div class="col-12 mt-2">
        <div class="row my-2 mx-2 justify-content-center align-content-center">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">
                Our Menu
            </h3>
            <p class="text-center text-white" style="font-size:15px">Our Menu For Best Experience</p>
        <div class="row justify-content-center align-items-center my-2 py-2">
            <div class="card col-md-3" style="background:none">
                    <img src="~/images/samosa-resized.jpg" class="img-fluid" style="object-fit:cover" />
            </div>
                <div class="card col-md-4 text-white" style="background:none">
                    <p class="text-center">Taste Perception</p>
                        <h2 class="text-center">Traditional & Mordern</h2>
                        <p class="text-center">Check out Our Latest Menu</p>
                    <a class="btn btn-sm btn-outline-light btn-block my-3" href="~/images/menu.png" target="_blank">Explore Our Menu</a>
                   
            </div>
                <div class="card col-md-3" style="background:none">
                    <img src="~/images/handpan.jpg" class="img-fluid" style="object-fit:cover" />
            </div>
        </div>
    </div>
    <!--SubCategory Row-->
    <div class="col-12 mt-3 " style="margin-top:30px" id="CardRow">
        <div class="row my-2 mx-2 justify-content-center align-content-center">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">
                Sub-Categories
            </h3>
            <p class="text-center text-white" style="font-size:15px">Sub Categories Provided By Us</p>
            <div class="row justify-content-center align-items-center">
                
                    @foreach (var Subcat in Model.SubCategories)
                    {
                    <div class="TopFoodContainer">
                        @* <div class="card-body">*@
                        <a target="_blank" role="button" asp-asp-controller="Home" asp-action="Foods" asp-route-SubCatID="@Subcat.SubCatid">
                            <img src="data:image/png;base64,@Convert.ToBase64String(Subcat.IconImg)" class="img-fluid TopFoodImg" />

                            <div class="txtArea">
                                <div class="TopFoodtxt">
                                    <h3 class="text-center" style="font-family: 'Permanent Marker', cursive;">
                                        @Subcat.SubCatName
                                    </h3>
                                    <p>
                                        @Subcat.SubCatDescription
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                 
                    }
               
                
            </div>
           
          
            
        </div>
    </div>
    <!--FoodTypeRow-->
   
    <!--Description-->
    <div class="DescriptionContainer col-12 my-3 d-flex flex-column">
        <div class="row my-3 mx-2  d-flex align-items-stretch">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">Our Food</h3>
            <div class="col-md-6">
                <img src="~/indian-cuisine-spice-stock-photography-chili-pepper-seasoning-spices-for-recipe-png-b87eb3bbe793d730e4737f04b6fd5b9d.png" class="card-img-top d-flex" style="width:100%" />
            </div>
            <div class="col-md-6 col-md-6 d-flex align-items-center">
                <p class="text-center text-white" style="text-align:justify;top:50%;">
                    "Welcome to AxA Foods, where culinary excellence meets your cravings. Our diverse menu boasts a global fusion of flavors, from timeless classics to innovative creations.
                    At AxA Foods, we take pride in using quality ingredients and skilled chefs to deliver a gastronomic journey like no other.
                    Explore our website to savor a diverse range of dishes that blend tradition with innovation. 
                    Choose AxA Foods for a dining experience that transcends boundaries, offering something delicious for every palate."<br/>
                    <span class="mt-2">- Akshat Dwivedi</span>
                </p>

            </div>


        </div>
    </div>
    <!--Top Food Row-->
    <div class="col-12 my-2 py-2 " id="CardRow">
        <div class="row my-2 mx-2 justify-content-center align-content-center">
            <h3 class="row-header" style="font-family: 'Permanent Marker', cursive;">
                Our Top Rated Dish
            </h3>
            <p class="text-center text-white" style="font-size:15px">Top Dishes of Ours</p>

            <div class="row justify-content-center align-content-center">
                @foreach(var food in Model.Food)
                {
                    <div class="TopFoodContainer">
                        @* <div class="card-body">*@
                        <a  target="_blank" asp-action="FoodDetails" asp-asp-controller="Home" asp-route-FoodID="@food.FoodId">
                            <img src="data:image/png;base64,@Convert.ToBase64String(food.IconImage)" class="img-fluid TopFoodImg" />
                            <div class="txtArea">
                                <div class="TopFoodtxt">
                                                <h3 class="text-center" style="font-family: 'Permanent Marker', cursive;">@food.FoodName</h3>
                                    <p>
                                        @food.FoodDesc
                                    </p>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                }
               
            </div>

        </div>
    </div>
</div>

<script>
    function goToFoodDetails(){
        var FoodName = $('#tags').val();
        
        console.log(FoodName);
        $.ajax({
            url: "Home/getFoodIDbyName?FoodName=" + FoodName,
            method:"GET",
            success:function(result){
                if (result != 0) {
                    window.location.href = "Home/FoodDetails?FoodID=" + result;
                } else {
                        swal("Not Available ! ", "This item is Not Available !", "error");
                }
                
            }
        })
    }
    var availableTags;
    $.ajax({
        url: 'Home/getAllFoodsName',
        type: 'GET',
        success: function (result) {
            availableTags = result;
            console.log(availableTags);
        }
    })
    $(function () {
        $("#tags").autocomplete({
            source: availableTags,
            minLength: 1
            
        });
    });
</script>