@model Models.ViewModel.User_ViewModel
<section >
    <div class="container py-5">
        <div class="row">
            <div class="col" >
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Edit Profile</a></li>
                        @* <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>*@
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model._user.Image)" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3 row-header text-black" style="font-size:25px">@Model._user.FullName</h5>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Name</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model._user.FullName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model._user.UserName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model._user.PhoneNumber</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model._user.FullAddress</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="row-header text-black">Your Orders</h5>
                        <div class="row">
                            <table class="table table-bordered table-responsive p-2">
                                <thead>
                               @*  <th>
                                    OrderID
                                </th> *@
                                <th>
                                    Food Name
                                </th>
                                <th>
                                    Number of Servings
                                </th>
                                <th>
                                    Order Status
                                </th>
                              @*   <th>
                                    Order Date
                                </th> *@
                                </thead>
                                <tbody>
                            @foreach(var order in Model.OrderDetails){
                                
                                        <tr>
                                            @* <td>
                                                @order.OrderId
                                            </td> *@
                                           @*  <td>
                                                @order.FoodId
                                            </td> *@
                                            <td>
                                                @order.FoodName
                                            </td>
                                            <td>
                                                @order.NoOfServings
                                            </td>
                                            <td>
                                                @if (order.OrderStatus == "Cancelled")
                                                {
                                                    <span class="text-danger">@order.OrderStatus</span>
                                                }else if (order.OrderStatus == "Delivered")
                                                {
                                                    <span class="text-success">@order.OrderStatus</span>
                                                }
                                                else if (order.OrderStatus == "Waiting to get picked up by delivery partner")
                                                {
                                                    <span class="text-secondary">@order.OrderStatus</span>
                                                }else if(order.OrderStatus=="Out For Delivery")
                                                {
                                                    <span class="text-primary">@order.OrderStatus</span>
                                                }
                                                else if (order.OrderStatus == "In Process")
                                                {
                                                    <span class="text-info">@order.OrderStatus</span>
                                                }
                                                

                                            </td>
                                          @*   <td>
                                                @order.OrderDate.Value.ToString("dd/MM/yyyy")
                                            </td> *@
                                           
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                           
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>