@model Models.User

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="my-5 py-3" >
    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <center><img style="border-radius:50%" src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" height="100" width="100" class="d-flex my-3" /></center>
                    <div class="card-body">
                        <div class="row my-2">
                            <div class="col-md-4">
                                
                                <label class="form-label" style="font-weight:bold" for="@Model.FullName">Full name</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.FullName" disabled type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label" style="font-weight:bold" for="@Model.FullAddress">Full Address</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.FullAddress" disabled type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                         <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label" style="font-weight:bold" for="@Model.PhoneNumber">Phone Number</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PhoneNumber" disabled type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row my-2">
                             
                            <div class="col-md-4">
                                <label class="form-label" style="font-weight:bold" for="@Model.UserName">Username</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.UserName" disabled type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    <hr/>   
                       </div>
                </div>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
   
    
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
