@model IEnumerable<Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    var mainID;

    let openModal = (itemID) => {
        debugger;
        var txtBox = document.getElementById('itemID');
        txtBox.value = itemID;
        $('#staticBackdrop').modal('show');
        window.location.reload();
    }
    let deleteItem = () => {
        var itemID = $('#itemID').val();
        $.ajax({
            url: 'Moderator/Delete?id=' + itemID,
            type: 'POST',
            //data: { id: itemID },
            success: function (result) {
                $('#staticBackdrop').modal('hide');
                window.location.reload();
            }, do
                    error: function(error) {
                console.log(error);
            }
        })
    }
</script>

<div class="row justify-content-center align-items-center mt-4">
    <h1 class="row-header text-center">List Of All Foods</h1>

    <div class="card col-md-12 col-lg-12 px-2 py-2" style="border-radius:0">
        <div class="card-body px-2">
            <a class="btn btn-sm btn-outline-dark btn-light" role="button" asp-action="Add_Edit">Add New Admin</a>
            <table class="table table-responsive table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AdminName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.FullAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdminName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>



                            <td>
                                @Html.DisplayFor(modelItem => item.FullAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @if (item.Image != null)
                                {
                                    <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" style="height:150px; width:200px;border-radius:50%" />
                                }

                            </td>
                            <td>
                                <a asp-action="Add_Edit" class="btn btn-warning my-3" title="Edit" asp-route-id=@item.AdminId><i class="fa-regular fa-pen-to-square"></i></a>

                                <a asp-action="Delete" class="btn btn-danger my-3" title="Activate/Deactivate" asp-route-id=@item.AdminId>
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

